.login {
    padding-top: 14rem;
    display: flex;
    justify-content: space-between;
}

.container {
    margin: auto;
    display: flex;
    width: 90%;
    align-items: center;
}

.formulario {
    background-color: rgb(62, 58, 58);
    width: 35rem;
    height: 17.5rem;
    display: flex;
    flex-direction: column;
    margin-left: 20rem;
    padding: 20px;
    padding-top: 30px;
    border-radius: 10px;
    border: 2px solid #FFA500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    height: 40rem;
    width: 40rem;
}

span {
    font-size: 1.2rem;
    margin-bottom: -0.8rem;
    color: #FFA500;
}

input {
    width: 95%;
    height: 2rem;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25);
}

.btn_login {
    border: none;
    background-color: #FFA500;
    width: 12.5rem;
    height: 2.5rem;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25);
    margin-top: 2.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}
