body {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Banner */
.banner {
    background-color: aquamarine;
    height: 50rem;
    width: 100%;
    margin-bottom: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    background-color:  rgb(62, 58, 58);
    height: 41em;
    width: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 9rem;
}

.logo img{
    margin-top: 3rem;
    margin-left: 2rem;
    height: 30rem;
    width: 30rem;
}

.foto{
    background-color: darkmagenta;
    height: 30rem;
    width: 28rem;
    margin-left: -35rem;
    border-left: 6px solid #FFA500;
}

.foto img{
    height: 100%;
    width: 100%;
}

.sobreMim{
    background-color: darkslateblue;
    height: 41rem;
    width: 40rem;
    margin-top: 6.5rem;
}

.textinho{
    background-color: blue;
    height: 35rem;
    width: 30rem;
    margin-top: -35rem;
    margin-left: 6rem;
    font-size: 2rem;
    
}

.apresentacao{
    background-color: chartreuse;
    height: 5rem;
    width: 30rem;
    margin-left: -35rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.apresentacao span{
    font-size: 1.4rem;
}

.curso{
    background-color: darkgrey;
    height: 5rem;
    width: 28rem;
    margin-left: -35rem;
    display: flex;
    align-items: center;
}

.curso span{
    font-size: 1.4rem;
    text-align: center;
}

/* Valores  ---------------------------------------------------------------------------------------------------------------------------------*/
.valores {
    background-color: blueviolet;
    height: 45rem;
    width: 100%;
    display: flex;
    margin-bottom: 5rem;
    justify-content: center;
}

.tituloValores{
    display: flex;
    justify-content: center;
    font-size: 2.4rem;
    font-weight: bold;
    border-bottom: 0.3rem solid #000;
}

.container {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

.container h2{
    margin-top: -5rem;
    margin-bottom: 3rem;
}

/* Primeiro Valor */
.valor1 {
    background-color: coral;
    height: 35rem;
    width: 22rem;
    border: 3px solid #FFA500;
    border-radius: 0.5rem;
    box-shadow: 1rem 0.6rem 0.8rem rgba(0, 0, 0, 0.250);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.valor1 img{
    background-color: azure;
    height: 10rem;
    width: 10rem;
    margin-bottom: 1rem;
    border: 1px solid black;
    border-radius: 1.5rem;
    border: 1px solid black;
    border-radius: 1.5rem;
}

.valor1 span{
    background-color: blue;
    height: 20rem;
    width: 100%;
    font-size: 1.2rem;
}

/* Segundo Valor */
.valor2 {
    background-color: red;
    height: 35rem;
    width: 22rem;
    border: 3px solid #FFA500;
    border-radius: 1rem;
    box-shadow: 1rem 0.6rem 0.8rem rgba(0, 0, 0, 0.250);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.valor2 img{
    background-color: azure;
    height: 10rem;
    width: 10rem;
    margin-bottom: 1rem;
    border: 1px solid black;
    border-radius: 1.5rem;
    margin-top: -2rem;
}

.valor2 span{
    background-color: blue;
    height: 20rem;
    width: 100%;
    font-size: 1.2rem;
}

/* Terceiro Valor */
.valor3 {
    background-color: brown;
    height: 35rem;
    width: 22rem;
    border: 3px solid #FFA500;
    border-radius: 1rem;
    box-shadow: 1rem 0.6rem 0.8rem rgba(0, 0, 0, 0.250);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.valor3 img{
    background-color: azure;
    height: 10rem;
    width: 10rem;
    margin-bottom: 1rem;
    border: 1px solid black;
    border-radius: 1.5rem;
}

.valor3 span{
    background-color: blue;
    height: 20rem;
    width: 100%;
    font-size: 1.2rem;
}

/* Conteudo da pagina -------------------------------------------------------------------------------------------------------------------------------------------*/
.conteudo{
    background-color: cornflowerblue;
    height: 42rem;
    width: 100%;
    margin-bottom: 5rem;
    display: flex;
    border-top: 0.3rem solid #FFA500;
}

/* Primeiro conteudo */
.imagem{
    height: 60vh;
    width: 55vh;
}

.imagem img{
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: 25%;
}

.texto{
    background-color: darkgreen;
    height: auto;
    width: 60rem;
    border-radius: 1rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Segundo Conteudo */
.imagem2{
    height: 60vh;
    width: 55vh;
}

.imagem2 img{
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: 25%;
}

.texto2{
    background-color: darkgreen;
    height: auto;
    width: 60rem;
    border-radius: 1rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Terceiro Conteudo */
.imagem3{
    height: 60vh;
    width: 55vh;
}

.imagem3 img{
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: 25%;
}

.texto3{
    background-color: darkgreen;
    height: auto;
    width: 60rem; 
    border-radius: 1rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}